<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
		<add key="defaultPushSource" value="https://cap-pkg.coretexa.local/nuget/C3NextGen" />
	</config>
  <packageSources>
    <clear/>
    <add key="C3 Package Source" value="https://cap-pkg.coretexa.local/nuget/C3NextGen" />
    <add key="Nuget" value="https://www.nuget.org/api/v2/" />
  </packageSources>
</configuration>